
        body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 20px auto;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            border: 1px solid #E2AF76;
            margin-top: 5px;
            line-height: 35px;
        }
        button {
            background-color: #E2AF76;
            color: #000;
            border: none;
            cursor: pointer;
            padding: 11px;
        }
        button:hover{
            background-color: #000;
            color: #E2AF76;
        }
        #taskInput{
            border: 1px solid #E2AF76;
            padding: 10px 10px;
        }
    